@model StoreFrontLab.DATA.EF.Studio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Studio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudioName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudioName)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
    {
        @:@Html.ActionLink("Edit", "Edit", new { id = Model.StudioID }) |
    }
    @Html.ActionLink("Back to Studios", "Index")
</p>
