body {
}

h2, h3{
    margin-bottom:.5em;
}

textarea{
    min-height: 10em;
    resize: none;
}

.hero__section{
    margin-bottom:.5em;
}

#mainContent{
    width:97%;
    margin: auto;
    min-height:95vh;
    margin-top:1em;
}

.textBox {
    margin-bottom: -9px;
}

.form-group {
    margin: 2rem 0 4rem;
}
.description{
    text-align:justify;
}

.deleteButton {
    margin: 0 2.5em .25em 0;
}

.product__item__pic set-bg{
    
    background-image: url(~/Content/img/shop/@product.productImage);
}