
@{
    ViewBag.Title = "Error";
}

<div class="row">

    <div class="col-md-12 text-center">
        <img class="errorImage" src="~/Content/img/theflycutout.png" />
        <h2 class="errorTitle">Oh, buzz!</h2>
        <p>It looks like we encountered a bug. Don't fly too far away - we're doing everything to make sure it gets squashed.</p>
    </div>
    
</div>
